{
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 140,
    "overrides": [
        {
            "files": ["*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
